<!DOCTYPE html>
<html>
<head>

    <link href='@Url.Content("~/CSS/checkboxstyle.css")' rel="stylesheet" type="text/css"> </link>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banking System</title>
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template" />
    <meta name="author" content="GeeksLabs" />
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal" />

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- owl carousel -->

    @{


        Html.RenderPartial("_importLayout");


    }

    @RenderSection("Scripts", false)

</head>
<body>

    @RenderBody()


    <footer style="align-content:center;align-items:center">
        <p style="color: #004466;font-family: 'Century Gothic';align-self: center;text-align:center">
            ©All Rights Reserved By <span style="font-weight:bold">Mr.Htet Myat's Banking Technical Test Project for Brand New Day </span>
        </p>
    </footer>
</body>
</html>
<link href='@Url.Content("~/CSS/checkboxstyle.css")' rel="stylesheet" type="text/css"> </link>
